<!DOCTYPE html>
  
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gen plugin creator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-5">
                <h3>Plugin settings</h3>
                <form method="post" id="upload-form" action="/" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="files" class="form-label">Plugin files</label>
                        <input type="file" class="form-control" name="files[]" id="files" accept=".h,.cpp,.json" multiple required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Plugin name</label>
                        <input type="text" class="form-control" name="name" value="{{name}}" id="name" placeholder="Plugin name" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand" class="form-label">Plugin brand</label>
                        <input type="text" class="form-control" name="brand" value="{{brand}}" id="brand" placeholder="Plugin brand">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Plugin category</label>
                        <select name="category" class="form-select" id="category">
                            {% for i in range(0,categoryLength) %}
                            <option value="{{pluginCategories[i]}}"
                                    {% if pluginCategories[i] == category %} selected {%endif%}>
                                {{pluginCategories[i]}}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="uri" class="form-label">Plugin URI</label>
                        <input type="text" class="form-control" name="uri" value="{{uri}}" id="uri" placeholder="Plugin URI" required>
                    </div>
                    <div class="mb-3">
                        <label for="device" class="form-label">Device</label>
                        <select name="device" class="form-select" id="device">
                            {% for i in range(0,deviceLength) %}
                            <option value="{{deviceList[i]}}"
                                    {% if deviceList[i] == device %} selected {%endif%}>
                                {{deviceList[i]}}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ip" class="form-label">Device ip</label>
                        <input type="text" class="form-control" name="ip" value="{{ip}}" id="ip" placeholder="Device ip" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" value="" id="save-settings">
                        <label class="form-check-label" for="save-settings">
                          Save settings as default
                        </label>
                      </div>
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form> 
            </div>
            <div class="col-7 bg-dark text-light vh-100 overflow-auto">
                <h3 class="sticky-top">Log</h3>
                <div id="log" class="log p2"></div>
            </div>
    </div>
    
    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script>
        function uploadToDevice(data) {
            const formData = new FormData();
            ip = $('#ip').val();
            formData.append('package', new File([data], '-'));
            fetch('http://'+ip+'/sdk/install', {
                method: 'POST',
                mode: 'no-cors',
                body: formData
            }).then((response) => {
                $('#log').append('<div class="mb-1 text-white">✓ Plugin should have been uploaded to device</div>');
            }).catch((error) => {
                $('#log').append('<div class="mb-1 text-danger">✗ ' + error.message + '. Is your device connected and reachable? <a class="retry-upload">Retry</a></div>');
            });
        }

        $(document).ready(function(){
            var socket = io();
            socket.on('response', function(msg) {
                switch (msg.type) {
                    case 'error':
                        $('#log').append('<div class="mb-1 text-danger">✗ ' + msg.data + '</div>');
                        break;
                    case 'warning':
                        $('#log').append('<div class="mb-1 text-warning">' + msg.data + '</div>');
                        break;
                    case 'success':
                        $('#log').append('<div class="mb-1 text-white">✓ ' + msg.data + '</div>');
                        break;
                    case 'plugin':
                        $('#log').append('<div class="mb-1 text-white">✓ Trying to upload to device...</div>');
                        window.pluginData = msg.data;
                        uploadToDevice(msg.data);
                        break;
                    default:
                        $('#log').append('<div class="mb-1"><small>' + msg.data + '</small></div>');
                        break;
                }
                $('#log').parent().animate({scrollTop: $('#log')[0].scrollHeight}, 200);
            });

            $(document).on('click', '.retry-upload', function() {
                uploadToDevice(window.pluginData);
            });

            /*$("#files").click(function(){
                $(this).val("");
            });

            $("#files").change(function(){
                var files = $('#files')[0].files;
                for (var i = 0; i < files.length; i++) {
                    if (files[i].name == 'gen_exported.cpp') {
                        var reader = new FileReader();
                        reader.readAsText(files[i], "UTF-8");
                        reader.onload = function (evt) {
                            var content = evt.target.result;
                            //Regex to get the number of inputs and outputs
                            var regexIn = /int gen_kernel_numins = (\d);/gm;
                            var regexOut = /int gen_kernel_numouts = (\d);/gm;
                            var inputs = regexIn.exec(content);
                            var outputs = regexOut.exec(content);
                            //TODO: RNBO equivalent regex would be Index getNumInputChannels\(\) const {\n\s{4}return\s(\d{1,3});\n}
                            if (inputs != null && outputs != null) {
                                $('#log').append('<div class="mb-1 text-white">✓ Plugin has ' + inputs[1] + ' inputs and ' + outputs[1] + ' outputs</div>');
                                $('#inputs').val(inputs[1]);
                                $('#outputs').val(outputs[1]);
                            } else {
                                $('#log').append('<div class="mb-1 text-danger">✗ Could not automatically detect the number of inputs and outputs :(</div>');
                            }
                        }
                    }
                }
            }); */
        });

        $( "#upload-form" ).on( "submit", function( event ) {
            event.preventDefault();
            $('#log').html('');
            const fileInput = document.querySelector('#files') ;
            const formData = new FormData();
            formData.append('name', $('#name').val());
            formData.append('brand', $('#brand').val());
            formData.append('category', $('#category').val());
            formData.append('uri', $('#uri').val());
            formData.append('device', $('#device').val());
            formData.append('ip', $('#ip').val());
            formData.append('save-settings', $('#save-settings').is(':checked'));
            for (const file of fileInput.files) {
                formData.append('files', file);
            }
            fetch('/', {
                method: 'POST',
                body: formData
            });
        });
    </script>
</body>
</html>